/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./main.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./our-yachts.css');
@import url('./advantages.css');
@import url('./rent-a-yachts.css');
@import url('./reviews.css');
@import url('./footer.css');
